.navbar-brand{
    font-size: xxx-large;
    padding: 4rem;
    color:salmon;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.center{
  text-align: center;
}

.img-chocolates{
  width: 304px;
  height: 236px;
  overflow: hidden;
}

i{
  font-size: 24px;
}

.table-chocolate{
  background-color: peachpuff;
}

.table-flower{
  background-color: lavender;
}

.table-gift{
  background-color: lightcyan;
}

.clickable-icon{
  cursor: pointer;
}

.i_images{
  margin: 15px;
  color: rgba(0,0,0,.5);
}

i:hover{
  color: black;
}