{% extends "layout.html" %}

{% block tittle %}
  Home
{% endblock %}

{% block javascript %}
  <script>
    
  </script>
{% endblock %}

{% block main %}

  {% for choco in chocolate %}
    <div class="text-center">
      <form action="/favorites" method="POST">
        <input type="image" src="{{url_for('static', filename=choco)}}" alt="mini chocolates" class="img-thumbnail img-chocolates"/>
        <input name="id" type="hidden" value="{{ choco }}">
        <input type="submit">
        <div>
          <i class='far fa-star i_images clickable-icon'></i>
        </div>
      </form>
    </div> 
  {% endfor %}
  
{% endblock %}