{% extends "layout.html" %}

{% block tittle %}
  Price List
{% endblock %}

{% block main %}
  <div>
    <p class="center">Note: All of our mini chocolates and mini flower base has a minimun order of 10units.</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Mini Chololates</th>
        <th scope="col">Price per unit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Truffle With Filling</th>
        <td>¥0.50</td>
      </tr>
      <tr>
        <th scope="row">Camafeu</th>
        <td>¥0.80</td>
      </tr>
      <tr>
    </tbody>
  </table>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Mini Flower</th>
        <th scope="col">Price per unit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Paper</th>
        <td>¥120</td>
      </tr>
      <tr>
        <th scope="row">Fabric</th>
        <td>¥150</td>
      </tr>
      <tr>
    </tbody>
  </table>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Chocolate egg and Chocolate Heart</th>
        <th scope="col">Weight</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">With Filling</th>
        <td>300g</td>
        <td>¥800</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>500g</td>
        <td>¥1400</td>
      </tr>
      <tr>        
        <th scope="row"></th>
        <td>1kg</td>
        <td>¥2600</td>
      </tr>
    </tbody>
  </table>
{% endblock %}